.semaforo {
   
    position: absolute;
    top: 4%;
    right: 42%;
    font-size: 75px;
    
}

.rectangle {
    z-index: -100;
    top: 5%;
    right: 40.5%;
    width: 300px;
    height: 100px;
    background-color: rgb(255, 208, 0);
 }

 .stick {
    top: 10%;
    right: 0%;
    width: 600px;
    height: 30px;
    background-color: rgb(255, 208, 0);
 }


 .primerBoton {

    top: 23%;
    right: 49.7%;
 }
 .segundoBoton {
    top:30%;
    right: 49.5%;
 }
 
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
